In [ ]:
import pandas as pd
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import datetime

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

id='1ji0Stj7xl4HWKYptkDCibEE2XHYyF6Wl'
downloaded = drive.CreateFile({'id': id})

downloaded.GetContentFile('train_transaction.csv')

df = pd.read_csv('train_transaction.csv')

id='1h5nClzzoNaX4t5rpvKbs1djxAM_VRI81'
downloaded = drive.CreateFile({'id': id})

downloaded.GetContentFile('train_identity.csv')

df_id = pd.read_csv('train_identity.csv')

id='16KBWbCNC_AEpn_lqtmtDfDfsoLsX6wDK'
downloaded = drive.CreateFile({'id': id})

downloaded.GetContentFile('test_transaction.csv')

test = pd.read_csv('test_transaction.csv')

id='1Z0MEgka6hlAm-qd5Gh-fk9zLiMfOaZ0c'
downloaded = drive.CreateFile({'id': id})

downloaded.GetContentFile('test_identity.csv')

df_id_test = pd.read_csv('test_identity.csv')

In [ ]:
df = df.join(df_id.set_index('TransactionID'), on='TransactionID', how='outer')
test = test.join(df_id_test.set_index('TransactionID'), on='TransactionID', how='outer')

In [ ]:
model_columns = ['isFraud', 'TransactionDT', 'TransactionAmt', 'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
                  'addr1', 'addr2', 'dist1', 'dist2', 'P_emaildomain', 'R_emaildomain', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7',
                  'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 
                  'D12', 'D13', 'D14', 'D15', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'id_01', 'id_02', 'id_03', 'id_04', 
                  'id_05', 'id_06', 'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17',
                  'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30',
                  'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo', 'V1', 'V2', 'V3',
                  'V4', 'V5', 'V6', 'V17', 'V18', 'V19', 'V20', 'V23', 'V24', 'V25', 'V26', 'V28', 'V29', 'V30',
                  'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V65', 'V66', 'V67', 'V72', 'V73', 'V79', 'V80', 'V126', 'V132',
                  'V133', 'V134', 'V135', 'V140', 'V141', 'V142', 'V143', 'V144', 'V156', 'V157', 'V174', 'V175', 'V176', 'V186', 'V187',
                  'V203', 'V205', 'V207', 'V213', 'V214', 'V217', 'V218', 'V219', 'V228', 'V230', 'V232', 'V243', 'V244', 'V267', 'V273',
                  'V275', 'V308', 'V331', 'V332', 'V333']

In [ ]:
#replaces the names on the columns from the test set by the ones in the train set
#test set has the same columns except isFraud this is just because of spelling errors
import numpy as np
columns_true = list(df.columns)
columns_true.pop(1)
columns_dict = {}
columns_false = list(test.columns)
for i, v in enumerate(columns_true):
  columns_dict[columns_false[i]] = v 
test.rename(columns=columns_dict, inplace=True)

In [ ]:
#drop columns not in specified list
df = df[df.columns.intersection(model_columns)]
test = test[test.columns.intersection(model_columns)]

In [ ]:
test.head()

   TransactionDT  TransactionAmt ProductCD  ...  id_38  DeviceType  DeviceInfo
0       18403224           31.95         W  ...    NaN         NaN         NaN
1       18403263           49.00         W  ...    NaN         NaN         NaN
2       18403310          171.00         W  ...    NaN         NaN         NaN
3       18403310          284.95         W  ...    NaN         NaN         NaN
4       18403317           67.95         W  ...    NaN         NaN         NaN

[5 rows x 162 columns]

In [ ]:
#one hot encoding, mainly used in binary columns
def oneHot(df, column):
  df[column] = df[column].fillna('NaN')
  df = pd.concat([df, pd.get_dummies(df[column])], axis=1)
  return df.drop([column], axis=1)
#one hot encoding but remove the nan column
#for binary columns with nans acts as binary encoding as nans wikk be represented by 0,0
def oneHotNoNaN(df, column):
  df[column] = df[column].fillna('NaN')
  columns = pd.get_dummies(df[column])
  columns = columns.drop(['NaN'], axis=1)
  df = pd.concat([df, columns], axis=1)
  return df.drop([column], axis=1)
df = oneHot(df, 'DeviceType')
df = oneHotNoNaN(df, 'id_35')
df = oneHotNoNaN(df, 'id_36')
df = oneHotNoNaN(df, 'id_37')
df = oneHotNoNaN(df, 'id_38')
df = oneHotNoNaN(df, 'id_15')
df = oneHotNoNaN(df, 'id_28')
df = oneHotNoNaN(df, 'id_12')
df = oneHotNoNaN(df, 'id_16')
df = oneHotNoNaN(df, 'id_29')
test = oneHot(test, 'DeviceType')
test = oneHotNoNaN(test, 'id_35')
test = oneHotNoNaN(test, 'id_36')
test = oneHotNoNaN(test, 'id_37')
test = oneHotNoNaN(test, 'id_38')
test = oneHotNoNaN(test, 'id_15')
test = oneHotNoNaN(test, 'id_28')
test = oneHotNoNaN(test, 'id_12')
test = oneHotNoNaN(test, 'id_16')
test = oneHotNoNaN(test, 'id_29')
df.head()

   isFraud  TransactionDT  TransactionAmt  ...  NotFound  Found  NotFound
0        0          86400            68.5  ...         0      0         0
1        0          86401            29.0  ...         0      0         0
2        0          86469            59.0  ...         0      0         0
3        0          86499            50.0  ...         0      0         0
4        0          86506            50.0  ...         1      0         1

[5 rows x 175 columns]

In [ ]:
#experimental encoding
#orden is based on leverage levels
# a debit card has no leverage while a charged card has to be paid monthly with no exceptions
labels = {'debit': 1, 'debit or credit': 2, 'credit': 3, 'charge card': 4}
df.replace({'card6' : labels},inplace=True)
df['card6'] = df['card6'].fillna(df['card6'].mean())
test.replace({'card6' : labels},inplace=True)
test['card6'] = test['card6'].fillna(df['card6'].mean())

In [ ]:
import numpy as np
#encode resolution in two columns for width and height
def split_res(res):
  split = str(res).split('x')
  if split[0] == 'nan':
    return np.NaN, np.NaN
  return int(split[0]), int(split[1])
df['res1'], df['res2'] = zip(*df['id_33'].map(split_res))
df.drop(['id_33'], axis=1, inplace=True)
test['res1'], test['res2'] = zip(*test['id_33'].map(split_res))
test.drop(['id_33'], axis=1, inplace=True)
test.head()

   TransactionDT  TransactionAmt ProductCD  card1  ...  Found  NotFound res1  res2
0       18403224           31.95         W  10409  ...      0         0  NaN   NaN
1       18403263           49.00         W   4272  ...      0         0  NaN   NaN
2       18403310          171.00         W   4476  ...      0         0  NaN   NaN
3       18403310          284.95         W  10989  ...      0         0  NaN   NaN
4       18403317           67.95         W  18018  ...      0         0  NaN   NaN

[5 rows x 175 columns]

In [ ]:
split = int(df.shape[0] * 0.8)# 80-20 train validation split
train = df.iloc[:split,:]
validation = df.iloc[split:,:]
#train set is the uper rows and validation the lower ones as the dataframe is sorted by time
#this prevents future information to predict the past

In [ ]:
pd.options.mode.chained_assignment = None

In [ ]:
#vectorized encoding based on words in a column
from sklearn.feature_extraction.text import CountVectorizer
def get_columns_vectorized(column, vocab, count_vect):
    cvec_counts = count_vect.transform(column)
    cvec_counts_bow = cvec_counts.toarray()
    return pd.DataFrame(cvec_counts_bow, columns=vocab)
train['id_30'] = train['id_30'].fillna('NaN')
validation['id_30'] = validation['id_30'].fillna('NaN')
test['id_30'] = test['id_30'].fillna('NaN')
count_vect = CountVectorizer(min_df=0.001) #just uses frecuent words
count_vect.fit(train['id_30'])
vocab = count_vect.get_feature_names() 
print(vocab)
train_vect = get_columns_vectorized(train['id_30'], vocab, count_vect)
validation_vect = get_columns_vectorized(validation['id_30'], vocab, count_vect) #this vectorizes just with words seen in train
test_vect = get_columns_vectorized(test['id_30'], vocab, count_vect)
train = pd.concat([train, train_vect], axis=1)
validation.reset_index(drop=True, inplace=True)
validation_vect.reset_index(drop=True, inplace=True)
validation = pd.concat([validation, validation_vect], axis=1)
test.reset_index(drop=True, inplace=True)
test_vect.reset_index(drop=True, inplace=True)
test = pd.concat([test, test_vect], axis=1)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['10', '10_10_5', '10_11_6', '10_12_6', '10_13_1', '10_13_2', '10_13_3', '10_9_5', '11', 'android', 'ios', 'linux', 'mac', 'nan', 'os', 'windows']

In [ ]:
train['DeviceInfo'] = train['DeviceInfo'].fillna('NaN')
validation['DeviceInfo'] = validation['DeviceInfo'].fillna('NaN')
test['DeviceInfo'] = test['DeviceInfo'].fillna('NaN')
count_vect = CountVectorizer(min_df=0.001) #just uses frecuent words
count_vect.fit(train['DeviceInfo'])
vocab = count_vect.get_feature_names() 
print(vocab)
train_vect = get_columns_vectorized(train['DeviceInfo'], vocab, count_vect)
validation_vect = get_columns_vectorized(validation['DeviceInfo'], vocab, count_vect) #this vectorizes just with words seen in train
test_vect = get_columns_vectorized(test['DeviceInfo'], vocab, count_vect)
train = pd.concat([train, train_vect], axis=1)
validation.reset_index(drop=True, inplace=True)
validation_vect.reset_index(drop=True, inplace=True)
validation = pd.concat([validation, validation_vect], axis=1)
test.reset_index(drop=True, inplace=True)
test_vect.reset_index(drop=True, inplace=True)
test = pd.concat([test, test_vect], axis=1)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['11', '137', '14', '57', '93', 'build', 'device', 'g610m', 'huawei', 'ios', 'j700m', 'l03', 'lg', 'lmy47v', 'lmy48b', 'lrx22g', 'macos', 'mmb29k', 'mmb29m', 'moto', 'mra58k', 'nan', 'nmf26x', 'nrd90m', 'plus', 'rv', 'samsung', 'sm', 'trident', 'windows']

In [ ]:
validation.head()

   isFraud  TransactionDT  TransactionAmt  ... sm  trident  windows
0        1       12192900          33.261  ...  0        0        0
1        0       12192911          52.811  ...  0        0        0
2        0       12192913         136.956  ...  0        0        1
3        0       12193040         136.956  ...  0        0        1
4        0       12193199          25.000  ...  0        0        1

[5 rows x 222 columns]

In [ ]:
#mean encoding for every object column
#makes NaN a category by making it a string
columns = train.columns
for i, type in enumerate(train.dtypes):
  if type == 'object':
    column = columns[i]
    train[column] = train[column].fillna('NaN')
    validation[column] = validation[column].fillna('NaN')
    test[column] = test[column].fillna('NaN')
    mean_dict = dict(train.groupby(column)['isFraud'].mean())
    train.replace({column : mean_dict},inplace=True)
    validation.replace({column : mean_dict},inplace=True) #instead of mean encoding the validation set with its own data it encodes it with trains data
    test.replace({column : mean_dict},inplace=True) #same here

In [ ]:
train.head()

   isFraud  TransactionDT  TransactionAmt  ...  sm  trident  windows
0        0          86400            68.5  ...   0        0        0
1        0          86401            29.0  ...   0        0        0
2        0          86469            59.0  ...   0        0        0
3        0          86499            50.0  ...   0        0        0
4        0          86506            50.0  ...   1        0        0

[5 rows x 222 columns]

In [ ]:
#make new values in validation and test nan
validation.apply(pd.to_numeric, errors='coerce')
test.apply(pd.to_numeric, errors='coerce')
#fill nan values with the column average
for column in test:
  train[column] = train[column].fillna(train[column].mean())
  validation[column] = validation[column].fillna(train[column].mean())
  test[column] = test[column].fillna(train[column].mean())

In [ ]:
validation.head()

   isFraud  TransactionDT  TransactionAmt  ...  sm  trident  windows
0        1       12192900          33.261  ...   0        0        0
1        0       12192911          52.811  ...   0        0        0
2        0       12192913         136.956  ...   0        0        1
3        0       12193040         136.956  ...   0        0        1
4        0       12193199          25.000  ...   0        0        1

[5 rows x 222 columns]

In [ ]:
#split target from features
train_target = train['isFraud'].copy()
validation_target = validation['isFraud'].copy()
train.drop(['isFraud'], axis=1, inplace=True)
validation.drop(['isFraud'], axis=1, inplace=True)

In [ ]:
#normalization for every column except binary ones
train.loc[:, :'id_34'] =(train.loc[:, :'id_34']-train.loc[:, :'id_34'].mean())/train.loc[:, :'id_34'].std()
train.loc[:, 'res1'] =(train.loc[:, 'res1']-train.loc[:, 'res1'].mean())/train.loc[:, 'res1'].std()
train.loc[:, 'res2'] =(train.loc[:, 'res2']-train.loc[:, 'res2'].mean())/train.loc[:, 'res2'].std()
validation.loc[:, :'id_34'] =(validation.loc[:, :'id_34']-validation.loc[:, :'id_34'].mean())/validation.loc[:, :'id_34'].std()
validation.loc[:, 'res1'] =(validation.loc[:, 'res1']-validation.loc[:, 'res1'].mean())/validation.loc[:, 'res1'].std()
validation.loc[:, 'res2'] =(validation.loc[:, 'res2']-validation.loc[:, 'res2'].mean())/validation.loc[:, 'res2'].std()
test.loc[:, :'id_34'] =(test.loc[:, :'id_34']-test.loc[:, :'id_34'].mean())/test.loc[:, :'id_34'].std()
test.loc[:, 'res1'] =(test.loc[:, 'res1']-test.loc[:, 'res1'].mean())/test.loc[:, 'res1'].std()
test.loc[:, 'res2'] =(test.loc[:, 'res2']-test.loc[:, 'res2'].mean())/test.loc[:, 'res2'].std()

In [ ]:
train.head()

   TransactionDT  TransactionAmt  ProductCD  ...  sm  trident  windows
0      -1.581396       -0.277412  -0.480790  ...   0        0        0
1      -1.581395       -0.443687  -0.480790  ...   0        0        0
2      -1.581376       -0.317402  -0.480790  ...   0        0        0
3      -1.581368       -0.355288  -0.480790  ...   0        0        0
4      -1.581366       -0.355288   0.374209  ...   1        0        0

[5 rows x 221 columns]

In [ ]:
import gc
df = None
df_id_test = None
df_id = None
train_vect = None
validation_vect = None
test_vect = None
gc.collect()

50

In [ ]:
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.wrappers.scikit_learn import KerasClassifier
import os
import random
from keras import backend as K

random.seed(54836)
os.environ['PYTHONHASHSEED']=str(54836)
tf.random.set_seed(54836)
np.random.seed(54836)

def build_model(activation='sigmoid'):
  model = Sequential()
  model.add(Dropout(0.1))
  model.add(Dense(20, activation='sigmoid'))
  model.add(Dense(30, activation=activation))
  model.add(Dense(20, activation='sigmoid'))
  model.add(Dense(1, activation='sigmoid'))
  model.compile(loss='binary_crossentropy', metrics=['AUC'], optimizer='adam')
  return model

model = KerasClassifier(build_fn=build_model, epochs=10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead.

In [ ]:
from sklearn.model_selection import GridSearchCV
param_grid = dict(epochs=[5,12], batch_size=[32, 64], activation=['sigmoid', 'relu'])
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=1, cv=3, scoring='roc_auc', verbose =10)
grid_result = grid.fit(train, train_target)

Fitting 3 folds for each of 8 candidates, totalling 24 fits
[CV 1/3; 1/8] START activation=sigmoid, batch_size=32, epochs=5.................
Epoch 1/5
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1198 - auc: 0.8390
Epoch 2/5
9843/9843 [==============================] - 25s 3ms/step - loss: 0.1097 - auc: 0.8590
Epoch 3/5
9843/9843 [==============================] - 24s 2ms/step - loss: 0.1067 - auc: 0.8671
Epoch 4/5
9843/9843 [==============================] - 24s 2ms/step - loss: 0.1045 - auc: 0.8716
Epoch 5/5
9843/9843 [==============================] - 24s 2ms/step - loss: 0.1028 - auc: 0.8747
[CV 1/3; 1/8] END activation=sigmoid, batch_size=32, epochs=5;, score=0.850 total time= 2.5min
[CV 2/3; 1/8] START activation=sigmoid, batch_size=32, epochs=5.................
Epoch 1/5
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1154 - auc: 0.8069
Epoch 2/5
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0981 - auc: 0.8514
Epoch 3/5
9843/9843 [==============================] - 28s 3ms/step - loss: 0.0950 - auc: 0.8618
Epoch 4/5
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0933 - auc: 0.8661
Epoch 5/5
9843/9843 [==============================] - 25s 3ms/step - loss: 0.0922 - auc: 0.8702
[CV 2/3; 1/8] END activation=sigmoid, batch_size=32, epochs=5;, score=0.866 total time= 2.3min
[CV 3/3; 1/8] START activation=sigmoid, batch_size=32, epochs=5.................
Epoch 1/5
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1141 - auc: 0.8204
Epoch 2/5
9843/9843 [==============================] - 24s 2ms/step - loss: 0.0980 - auc: 0.8574
Epoch 3/5
9843/9843 [==============================] - 24s 2ms/step - loss: 0.0952 - auc: 0.8649
Epoch 4/5
9843/9843 [==============================] - 24s 2ms/step - loss: 0.0935 - auc: 0.8696
Epoch 5/5
9843/9843 [==============================] - 25s 3ms/step - loss: 0.0923 - auc: 0.8741
[CV 3/3; 1/8] END activation=sigmoid, batch_size=32, epochs=5;, score=0.858 total time= 2.5min
[CV 1/3; 2/8] START activation=sigmoid, batch_size=32, epochs=12................
Epoch 1/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.1293 - auc: 0.8155
Epoch 2/12
9843/9843 [==============================] - 25s 3ms/step - loss: 0.1100 - auc: 0.8581
Epoch 3/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1070 - auc: 0.8661
Epoch 4/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1049 - auc: 0.8707
Epoch 5/12
9843/9843 [==============================] - 25s 3ms/step - loss: 0.1032 - auc: 0.8741
Epoch 6/12
9843/9843 [==============================] - 25s 3ms/step - loss: 0.1023 - auc: 0.8758
Epoch 7/12
9843/9843 [==============================] - 25s 3ms/step - loss: 0.1014 - auc: 0.8790
Epoch 8/12
9843/9843 [==============================] - 25s 3ms/step - loss: 0.1005 - auc: 0.8806
Epoch 9/12
9843/9843 [==============================] - 25s 3ms/step - loss: 0.0999 - auc: 0.8821
Epoch 10/12
9843/9843 [==============================] - 25s 3ms/step - loss: 0.0998 - auc: 0.8836
Epoch 11/12
9843/9843 [==============================] - 25s 3ms/step - loss: 0.0992 - auc: 0.8838
Epoch 12/12
9843/9843 [==============================] - 24s 2ms/step - loss: 0.0984 - auc: 0.8861
[CV 1/3; 2/8] END activation=sigmoid, batch_size=32, epochs=12;, score=0.854 total time= 5.5min
[CV 2/3; 2/8] START activation=sigmoid, batch_size=32, epochs=12................
Epoch 1/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1059 - auc: 0.8355
Epoch 2/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0973 - auc: 0.8580
Epoch 3/12
9843/9843 [==============================] - 29s 3ms/step - loss: 0.0946 - auc: 0.8670
Epoch 4/12
9843/9843 [==============================] - 25s 3ms/step - loss: 0.0929 - auc: 0.8700
Epoch 5/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0916 - auc: 0.8737
Epoch 6/12
9843/9843 [==============================] - 25s 3ms/step - loss: 0.0908 - auc: 0.8746
Epoch 7/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0896 - auc: 0.8782
Epoch 8/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0892 - auc: 0.8803
Epoch 9/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0890 - auc: 0.8800
Epoch 10/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0884 - auc: 0.8822
Epoch 11/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0881 - auc: 0.8829
Epoch 12/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0879 - auc: 0.8814
[CV 2/3; 2/8] END activation=sigmoid, batch_size=32, epochs=12;, score=0.867 total time= 5.4min
[CV 3/3; 2/8] START activation=sigmoid, batch_size=32, epochs=12................
Epoch 1/12
9843/9843 [==============================] - 28s 3ms/step - loss: 0.1104 - auc: 0.8303
Epoch 2/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0979 - auc: 0.8601
Epoch 3/12
9843/9843 [==============================] - 25s 3ms/step - loss: 0.0948 - auc: 0.8679
Epoch 4/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0931 - auc: 0.8736
Epoch 5/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0921 - auc: 0.8769
Epoch 6/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0913 - auc: 0.8780
Epoch 7/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0900 - auc: 0.8824
Epoch 8/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0892 - auc: 0.8834
Epoch 9/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0888 - auc: 0.8850
Epoch 10/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0883 - auc: 0.8865
Epoch 11/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0880 - auc: 0.8876
Epoch 12/12
9843/9843 [==============================] - 25s 3ms/step - loss: 0.0876 - auc: 0.8877
[CV 3/3; 2/8] END activation=sigmoid, batch_size=32, epochs=12;, score=0.855 total time= 5.5min
[CV 1/3; 3/8] START activation=sigmoid, batch_size=64, epochs=5.................
Epoch 1/5
4922/4922 [==============================] - 19s 4ms/step - loss: 0.1286 - auc: 0.8191
Epoch 2/5
4922/4922 [==============================] - 14s 3ms/step - loss: 0.1106 - auc: 0.8566
Epoch 3/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1076 - auc: 0.8630
Epoch 4/5
4922/4922 [==============================] - 14s 3ms/step - loss: 0.1053 - auc: 0.8688
Epoch 5/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1038 - auc: 0.8733
[CV 1/3; 3/8] END activation=sigmoid, batch_size=64, epochs=5;, score=0.847 total time= 1.6min
[CV 2/3; 3/8] START activation=sigmoid, batch_size=64, epochs=5.................
Epoch 1/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1111 - auc: 0.8172
Epoch 2/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0986 - auc: 0.8519
Epoch 3/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0957 - auc: 0.8599
Epoch 4/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0940 - auc: 0.8657
Epoch 5/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0929 - auc: 0.8690
[CV 2/3; 3/8] END activation=sigmoid, batch_size=64, epochs=5;, score=0.870 total time= 1.5min
[CV 3/3; 3/8] START activation=sigmoid, batch_size=64, epochs=5.................
Epoch 1/5
4922/4922 [==============================] - 16s 3ms/step - loss: 0.1198 - auc: 0.8054
Epoch 2/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0997 - auc: 0.8556
Epoch 3/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0963 - auc: 0.8617
Epoch 4/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0943 - auc: 0.8678
Epoch 5/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0929 - auc: 0.8736
[CV 3/3; 3/8] END activation=sigmoid, batch_size=64, epochs=5;, score=0.855 total time= 1.5min
[CV 1/3; 4/8] START activation=sigmoid, batch_size=64, epochs=12................
Epoch 1/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1377 - auc: 0.8005
Epoch 2/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1109 - auc: 0.8567
Epoch 3/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1081 - auc: 0.8626
Epoch 4/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1060 - auc: 0.8673
Epoch 5/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1045 - auc: 0.8714
Epoch 6/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1035 - auc: 0.8738
Epoch 7/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1026 - auc: 0.8749
Epoch 8/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1021 - auc: 0.8761
Epoch 9/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1012 - auc: 0.8787
Epoch 10/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1004 - auc: 0.8807
Epoch 11/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1000 - auc: 0.8808
Epoch 12/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0989 - auc: 0.8835
[CV 1/3; 4/8] END activation=sigmoid, batch_size=64, epochs=12;, score=0.856 total time= 3.1min
[CV 2/3; 4/8] START activation=sigmoid, batch_size=64, epochs=12................
Epoch 1/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1110 - auc: 0.8164
Epoch 2/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0986 - auc: 0.8510
Epoch 3/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0957 - auc: 0.8579
Epoch 4/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0940 - auc: 0.8641
Epoch 5/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0928 - auc: 0.8681
Epoch 6/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0915 - auc: 0.8703
Epoch 7/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0909 - auc: 0.8728
Epoch 8/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0900 - auc: 0.8755
Epoch 9/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0896 - auc: 0.8764
Epoch 10/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0888 - auc: 0.8793
Epoch 11/12
4922/4922 [==============================] - 18s 4ms/step - loss: 0.0886 - auc: 0.8801
Epoch 12/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0880 - auc: 0.8807
[CV 2/3; 4/8] END activation=sigmoid, batch_size=64, epochs=12;, score=0.866 total time= 3.5min
[CV 3/3; 4/8] START activation=sigmoid, batch_size=64, epochs=12................
Epoch 1/12
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1125 - auc: 0.8251
Epoch 2/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0989 - auc: 0.8585
Epoch 3/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0957 - auc: 0.8651
Epoch 4/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0934 - auc: 0.8711
Epoch 5/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0920 - auc: 0.8755
Epoch 6/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0911 - auc: 0.8777
Epoch 7/12
4922/4922 [==============================] - 13s 3ms/step - loss: 0.0902 - auc: 0.8807
Epoch 8/12
4922/4922 [==============================] - 13s 3ms/step - loss: 0.0894 - auc: 0.8824
Epoch 9/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0891 - auc: 0.8841
Epoch 10/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0883 - auc: 0.8848
Epoch 11/12
4922/4922 [==============================] - 13s 3ms/step - loss: 0.0883 - auc: 0.8857
Epoch 12/12
4922/4922 [==============================] - 14s 3ms/step - loss: 0.0876 - auc: 0.8862
[CV 3/3; 4/8] END activation=sigmoid, batch_size=64, epochs=12;, score=0.856 total time= 3.5min
[CV 1/3; 5/8] START activation=relu, batch_size=32, epochs=5....................
Epoch 1/5
9843/9843 [==============================] - 27s 3ms/step - loss: 0.1220 - auc: 0.8339
Epoch 2/5
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1088 - auc: 0.8625
Epoch 3/5
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1059 - auc: 0.8689
Epoch 4/5
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1038 - auc: 0.8736
Epoch 5/5
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1024 - auc: 0.8763
[CV 1/3; 5/8] END activation=relu, batch_size=32, epochs=5;, score=0.851 total time= 2.3min
[CV 2/3; 5/8] START activation=relu, batch_size=32, epochs=5....................
Epoch 1/5
9843/9843 [==============================] - 27s 3ms/step - loss: 0.1070 - auc: 0.8307
Epoch 2/5
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0970 - auc: 0.8585
Epoch 3/5
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0943 - auc: 0.8676
Epoch 4/5
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0923 - auc: 0.8729
Epoch 5/5
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0912 - auc: 0.8763
[CV 2/3; 5/8] END activation=relu, batch_size=32, epochs=5;, score=0.871 total time= 2.5min
[CV 3/3; 5/8] START activation=relu, batch_size=32, epochs=5....................
Epoch 1/5
9843/9843 [==============================] - 28s 3ms/step - loss: 0.1083 - auc: 0.8354
Epoch 2/5
9843/9843 [==============================] - 31s 3ms/step - loss: 0.0964 - auc: 0.8654
Epoch 3/5
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0933 - auc: 0.8741
Epoch 4/5
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0913 - auc: 0.8783
Epoch 5/5
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0901 - auc: 0.8825
[CV 3/3; 5/8] END activation=relu, batch_size=32, epochs=5;, score=0.858 total time= 2.5min
[CV 1/3; 6/8] START activation=relu, batch_size=32, epochs=12...................
Epoch 1/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.1175 - auc: 0.8444
Epoch 2/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1086 - auc: 0.8647
Epoch 3/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.1057 - auc: 0.8718
Epoch 4/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1037 - auc: 0.8761
Epoch 5/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1022 - auc: 0.8800
Epoch 6/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1013 - auc: 0.8815
Epoch 7/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.1002 - auc: 0.8834
Epoch 8/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0993 - auc: 0.8855
Epoch 9/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0985 - auc: 0.8874
Epoch 10/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0980 - auc: 0.8885
Epoch 11/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0976 - auc: 0.8895
Epoch 12/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0967 - auc: 0.8908
[CV 1/3; 6/8] END activation=relu, batch_size=32, epochs=12;, score=0.851 total time= 5.4min
[CV 2/3; 6/8] START activation=relu, batch_size=32, epochs=12...................
Epoch 1/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.1065 - auc: 0.8321
Epoch 2/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0965 - auc: 0.8585
Epoch 3/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0940 - auc: 0.8669
Epoch 4/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0923 - auc: 0.8707
Epoch 5/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0909 - auc: 0.8758
Epoch 6/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0898 - auc: 0.8764
Epoch 7/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0887 - auc: 0.8798
Epoch 8/12
9843/9843 [==============================] - 29s 3ms/step - loss: 0.0879 - auc: 0.8815
Epoch 9/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0877 - auc: 0.8819
Epoch 10/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0869 - auc: 0.8855
Epoch 11/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0867 - auc: 0.8846
Epoch 12/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0865 - auc: 0.8844
[CV 2/3; 6/8] END activation=relu, batch_size=32, epochs=12;, score=0.862 total time= 5.5min
[CV 3/3; 6/8] START activation=relu, batch_size=32, epochs=12...................
Epoch 1/12
9843/9843 [==============================] - 28s 3ms/step - loss: 0.1086 - auc: 0.8332
Epoch 2/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0970 - auc: 0.8632
Epoch 3/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0940 - auc: 0.8714
Epoch 4/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0921 - auc: 0.8781
Epoch 5/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0908 - auc: 0.8818
Epoch 6/12
9843/9843 [==============================] - 28s 3ms/step - loss: 0.0899 - auc: 0.8824
Epoch 7/12
9843/9843 [==============================] - 26s 3ms/step - loss: 0.0890 - auc: 0.8853
Epoch 8/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0883 - auc: 0.8873
Epoch 9/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0881 - auc: 0.8876
Epoch 10/12
9843/9843 [==============================] - 27s 3ms/step - loss: 0.0877 - auc: 0.8891
Epoch 11/12
9843/9843 [==============================] - 28s 3ms/step - loss: 0.0872 - auc: 0.8901
Epoch 12/12
9843/9843 [==============================] - 28s 3ms/step - loss: 0.0870 - auc: 0.8900
[CV 3/3; 6/8] END activation=relu, batch_size=32, epochs=12;, score=0.862 total time= 5.5min
[CV 1/3; 7/8] START activation=relu, batch_size=64, epochs=5....................
Epoch 1/5
4922/4922 [==============================] - 16s 3ms/step - loss: 0.1237 - auc: 0.8296
Epoch 2/5
4922/4922 [==============================] - 16s 3ms/step - loss: 0.1096 - auc: 0.8599
Epoch 3/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1061 - auc: 0.8676
Epoch 4/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1039 - auc: 0.8736
Epoch 5/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.1021 - auc: 0.8780
[CV 1/3; 7/8] END activation=relu, batch_size=64, epochs=5;, score=0.852 total time= 1.4min
[CV 2/3; 7/8] START activation=relu, batch_size=64, epochs=5....................
Epoch 1/5
4922/4922 [==============================] - 16s 3ms/step - loss: 0.1054 - auc: 0.8356
Epoch 2/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0975 - auc: 0.8593
Epoch 3/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0947 - auc: 0.8668
Epoch 4/5
4922/4922 [==============================] - 19s 4ms/step - loss: 0.0930 - auc: 0.8708
Epoch 5/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0916 - auc: 0.8745
[CV 2/3; 7/8] END activation=relu, batch_size=64, epochs=5;, score=0.875 total time= 1.5min
[CV 3/3; 7/8] START activation=relu, batch_size=64, epochs=5....................
Epoch 1/5
4922/4922 [==============================] - 16s 3ms/step - loss: 0.1121 - auc: 0.8252
Epoch 2/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0972 - auc: 0.8647
Epoch 3/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0941 - auc: 0.8722
Epoch 4/5
4922/4922 [==============================] - 15s 3ms/step - loss: 0.0921 - auc: 0.8773
Epoch 5/5

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc_score(train_target, grid_result.predict_proba(train)[:, 1])

0.8901488103380207

In [ ]:
#eliminate new values that havent been encoded
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False

validation = validation[validation.applymap(isnumber)]
test = test[test.applymap(isnumber)]
for column in test:
  validation[column] = validation[column].fillna(train[column].mean())
  test[column] = test[column].fillna(train[column].mean())

In [ ]:
roc_auc_score(validation_target, grid_result.predict_proba(validation)[:, 1])

0.8459784252872976

In [ ]:
train = None
validation = None
gc.collect()

In [ ]:
#best hyperparameters
print(grid_result.best_params_)

{'activation': 'relu', 'batch_size': 64, 'epochs': 5}

In [ ]:
test2 = np.asarray(test).astype('float32') #prevents model prediction error

In [ ]:
#run this to download the tests predictions csv
from google.colab import files
predictions = grid_result.predict_proba(test2)
predictions_df = pd.DataFrame(data=predictions[:, 1], columns=['isFraud'])
predictions_df.to_csv('prediction3.csv')
files.download("prediction3.csv")